*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    min-width:100vw;
    min-height:100vh;
    overflow-x:hidden;
    /* background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%); */
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
    /* overflow-y: scroll; */
}